#chart_data{ data: chart_data_for_project(sprints, project) }
.row
  .small-12
    #hours_per_project
.row
  .small-12
    #points_per_project
.row
  .small-12
    #velocity_per_project
.row
  .small-12
    #velocity_history{ data: sprint_history_for_project(project) }
.row
  .small-12
    #hour_history{ data: sprint_hour_history_for_project(project) }
