#chart_data{ data: full_chart_data(sprints) }
.row
  .col-lg-12
    #hours_per_project
.row
  .col-lg-12
    #hour_distribution
.row
  .col-lg-12
    #points_per_project
.row
  .col-lg-12
    #points_distribution
.row
  .col-lg-12
    #velocity_per_project
.row
  .col-lg-12
    #tickets_per_project
.row
  .col-lg-12
    #velocity_history{ data: full_sprint_history }
