%table#pending_estimate.table.table-condensed.table-striped.table-hover{'data-path' => estimate_pending_tickets_path}
  %caption Pending Estimates
  %tr
    %th Project
    %th Name
    %th Points

  - @pending.each do |ticket|
    %tr
      %td
        %i.icon-circle{style: "color: #{ticket.project.color}"}
        = ticket.project_name
      %td= ticket_link_or_name(ticket)
      %td.points= best_in_place ticket, :points, type: :input, nil: 'Not Estimated', path: estimate_ticket_path(ticket)
