.row
  .small-8.columns
    %h1.title
      Dashboard

  .small-4.columns
    %a{ href: '#', 'data-reveal-id' => 'modalNewTicket' }
      .boton-verde
        Add new ticket

.px20-separator

-if @pending.any?
  .row
    .small-12.columns
      .full-green-upper-line
      .panel.radius
        = render partial: 'pending_estimate'


.row
  .small-12.columns
    .full-red-upper-line
    .panel.radius
      = render 'list', dashboard: true

.row
  .small-12.columns
    .full-blue-upper-line
    .panel.radius
      = render 'current_sprint'

= render partial: 'tickets/modals'
