.row
  .small-12.columns
    %h1.title Dashboard

-if @pending.any?
  .row
    .small-12.columns
      = render 'pending_estimate'


.row
  .small-12.columns
    .full-red-upper-line
    .panel.radius
      = render 'list', dashboard: true

.row
  .small-12.columns
    .full-blue-upper-line
    .panel.radius
      = render 'current_sprint'

.row
  .small-12.columns
    .full-yellow-upper-line
    .panel.radius
      = render 'small_form'
