.modal.fade{tabindex: -1, role: 'dialog', aria: { hidden: true }}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: "button", data: {dismiss: "modal"}, aria: {hidden: true}}
          &times;
        %h4.modal-title
          Estimations
      .modal-body
        %table.table
          %tr
            %th User
            %th Points
          - @ticket.user_ticket_estimates.includes(:user).each do |ute|
            %tr
              %td= ute.user.full_name
              %td= ute.points
      .modal-footer
        %button.btn.btn-default{type: "button", data: {dismiss: "modal"}}
          Close
