// Main Colors
$green: #45b39c;
$yellow: #f0c94a;
$red: #bd3e25;
$blue: #76a7fa;
$grey: #e6e6e6;
$blue-osc: #12406f;

body{
  background-color: #dedede;
  font-family: 'Gafata', sans-serif;
}

.big-separator{
  width: 100%;
  height: 50px;
}

.row{
  max-width: 1100wpx
}

.light{
  background-color: #ffffff;
}

.main-page-title {
  font-size: 35px;
  padding-top: 45px;
  width: 50%;
  height: 130px;
  color: #8c8c8c;
}

#my-estimates {
  width: 100%;
  text-align: left;
  .user-row {
    width: 20%;
  }
  .ticket-row {
    width: 50%;
  }
  .estimation-row {
    width: 20%;
  }
  .control-row {
    width: 10%;
  }
}

#user-table {
  width: 100%;
  text-align: left;
  .name-row {
    width: 40%;
  }
  .email-row {
    width: 40%;
  }
  .control-row {
    width: 20%;
  }
}

#project-table {
  width: 100%;
  text-align: left;
  .name-row {
    width: 30%;
  }
  .abreviation-row {
    width: 20%;
  }
  .url-row {
    width: 40%;
  }
  .control-row {
    width: 10%;
  }
}

#progress-bar {
  background: none;
  padding: 0;
}

.progress-bar {
  height: 3em;
  border-radius: 0.3em;
}

.progress {
  height: 3.4em;
  border-radius: 0.3em;
}

.progress-bar-success{
  background-color: $green
}

.progress-bar-info{
  background-color: $blue
}

.progress-bar-warning{
  background-color: $yellow
}

.progress-bar-danger{
  background-color: $red
}

.separator-line {
  width: 100%;
  height: 2px;
  background-color: #aeaeae;
}

.footer-links {
  text-align: right;
  font-size: 18px;
  padding-top: 70px;
}

.footer-links a {
  color: #787878;
}
.footer-links a:hover {
  color: #414141;
}