#error_explanation{@extend .alert;@extend .alert-danger;h1,h2,h3,h4,h5,h6{@extend p;font-size:1em;font-weight:700}ul{@extend .list-unstyled;}}

// Colores principales
$green: #45b39c;
$yellow: #f0c94a;
$red: #bd3e25;
$blue: #76a7fa;
$grey: #e6e6e6;
$blue-osc: #12406f;

select, input[type="date"]{
    @extend .form-control;
}
i.icon-circle{
    margin-right: 3px;
    text-shadow: 0 0 2px, #555;
}

html{
    background-repeat: no-repeat;
    height: 100%;
    body{
        background-color: transparent;
        background-image: url("/img/grain_200x200.png");
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        text-decoration: none;
        color: #252525;
        &.landing {
            position: relative;
            > div{
                #iepc{
                    @include iepc(1.5,$position:absolute);
                    margin: 3em;
                    top: 0;
                    left: 0;
                }
                width: 50%;
                height: auto;
                position: fixed;
                top: 25%;
                left: 25%;
            }
            .login{
                @include border-left-radius(1em);
                @include border-right-radius(1em);
                background: #fff url("/mooveit.png") no-repeat 2em 90%;
                background-size: auto 2em;
                .wrapper{
                    padding-left: 40%;
                    padding-bottom: 1em;
                }
            }
        }
    }
}

h1{
  font-family: 'Open Sans', sans-serif;
}

h2{
  font-family: 'Open Sans', sans-serif;
}

h3{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

h1.title{
    @extend .container;
    color: #2b2b2b;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5em;
}

.full-green-upper-line{
  width: 100%;
  height: 5px;
  background-color: #45b39c;
  -webkit-border-radius: 10px 10px;  /* Safari  */
  -moz-border-radius: 5px 10px;      /* Firefox */
}

.full-yellow-upper-line{
  width: 100%;
  height: 5px;
  background-color: #f0c94a;
  -webkit-border-radius: 10px 10px;  /* Safari  */
  -moz-border-radius: 5px 10px;      /* Firefox */
}

.full-red-upper-line{
  width: 100%;
  height: 5px;
  background-color: #bd3e25;
  -webkit-border-radius: 10px 10px;  /* Safari  */
  -moz-border-radius: 5px 10px;      /* Firefox */
}

.full-blue-upper-line{
  width: 100%;
  height: 5px;
  background-color: #76a7fa;
  -webkit-border-radius: 10px 10px;  /* Safari  */
  -moz-border-radius: 5px 10px;      /* Firefox */
}

.row{
  max-width: 1100wpx
}

.project-pending-row{
  width: 20%;
}

.name-pending-row{
  width: 70%;
}

.points-pending-row{
  width: 10%;
}

.boton-verde{
  background-color: $green;
  font-size: 15px;
  -webkit-border-radius: 25px 25px;   /* Safari  */
  -moz-border-radius: 25px 25px;      /* Firefox */
  color: #ffffff;
  text-align: center;
  padding: 10px 10px 10px 10px;
}
.boton-verde:link{
  color: #ffffff;
}
.boton-verde:hover{
  color: #ffffff;
}

.px20-separator{
  height: 20px;
  width: 100;
}