body {
    background-color: #e5eee5;
}

.login-header{
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.login-big{
    width: 100%;
    height: auto;
    text-align: center;
    color: #FCFCFC;
}

.login-big a{
    color: #b9b9b9;
}

.login-background{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('login-background.jpg');
}