@mixin transition($property){
  @include transition-property($property);
  @include transition-duration(.25s);
  @include transition-timing-function(ease);
}

@include keyframes(rotate){from{@include transform(rotate(0))}to{@include transform(rotate(360deg))}}

@mixin iepc($scale-x:1,$scale-y:$scale-x,$position:relative){
    @include linear-gradient(to bottom right, $blue, $success);
    background-color: #000;
    width: 5em;
    height: 5em;
    @include border-top-radius(9999em);
    @include border-bottom-radius(9999em);
    position: $position;
    z-index: 0;
    box-shadow: inset -1em -1em 1em rgba(#000, .25);
    &:before{
        content: "\0020";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        display: block;
        width: 5em;
        height: 5em;
        @include border-top-radius(9999em);
        @include border-bottom-radius(9999em);
        @include linear-gradient(to bottom right, rgba($warning, 0.0), $warning);
        background-color: transparent;
        @include animation-name(rotate);
        @include animation-duration(10s);
        @include animation-timing-function(linear);
        @include animation-iteration-count(infinite);
        box-shadow: inset -1em -1em 1em rgba($orange, .1);
    }
    &:after{
        //content: "\2660 \0020 IEPC";
        content: "IEPC";
        color: #FFFFFF;
        display: block;
        font-family: Verdana,Geneva,sans-serif;
        font-size: 1.15em;
        font-weight: bold;
        height: 5em;
        line-height: 4.25em;
        position: relative;
        text-align: center;
        width: 100%;
        z-index: 2;
        text-shadow: -1px -1px 0 rgba(#000, .1);
    }
    @include transform(scale($scale-x,$scale-y));
}