// Place all the styles related to the Tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td.real_hours, td.estimated_hours {
  input { width: 40px; }
}

div#fast_entry {
  select {
    width: auto;
    max-width: 104px;
  }
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  height: 154px;
  width: 104px;
  background-color: #f2f2f2;
}
